<div class="container-fluid px-5">

    <div class="row align-items-start">
      <div class="col-xxl-12 text-center p-3 mt-2">
        <h1 class="title">LIBRERTIA</h1>
        <h2 class="subtitle">Share your books</h2>
      </div>
    </div>
    <div class="row align-items-start">
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 books">
        <!--  <app-user-book-plist-unrouted (book_selection)="onbookChange($event)"></app-user-book-plist-unrouted>-->
      </div>
      <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 replies">
        <!--  <app-user-loan-plist-unrouted [id_book]="idbook"></app-user-loan-plist-unrouted>-->
      </div>
      <div class="col-xxl-2 col-xl-2 col-lg-2 info">
        <div class="card">
          <div class="card-header">
            Featured Users
          </div>
          <div class="card-body">
            <!--  <app-user-user-featured-unrouted></app-user-user-featured-unrouted>-->
          </div>
        </div>
        <div class="card mt-3">
          <div class="card-header">
            Featured books
          </div>
          <div class="card-body">
            <!--  <app-user-book-featured-unrouted></app-user-book-featured-unrouted>-->
          </div>
        </div>
      </div>
    </div>
  </div>