<!-- Header -->
<div class="bg-purple-950">
  <section class="w-full bg-cover bg-center py-32 opacity-90"
    style="background-image: url('../../../../assets/img/background.jpg');">
    <div class="container mx-auto text-center">
      <h1 class="text-5xl font-medium mb-6 uppercase">Welcome to Librertia</h1>
      <p class="text-xl mb-12">"Unlock the World of Knowledge: Your Passport to Endless Stories!"
      </p>
    </div>
  </section>
</div>
<!-- End of Header -->

<!-- Post Book List -->
<div *ngIf="strUserName" class="m-20">
  <app-user-book-plist-unrouted (book_selection)="onBookChange($event)"
    [reload]="reloadBooks"></app-user-book-plist-unrouted>
</div>
<!-- End of Post Book and Loan List -->

<!-- Featured -->
<div class=" flex justify-center">
  <app-normal-user-featured-unrouted></app-normal-user-featured-unrouted>
  <app-user-book-featured-unrouted></app-user-book-featured-unrouted>
</div>
<!-- End of Featured -->