<div *ngIf="status!=null">
    <div class="d-flex justify-content-center my-3">
      <div class="alert alert-danger" role="alert">
        {{status!.error.message}} - {{status!.message}}
      </div>
    </div>
  </div>
  
  <div *ngIf="status==null">
    <div class="flex justify-between mb-3">
      <h3 *ngIf="id_book>0">Filtered by book ({{id_book}} - {{oBook?.title | trimming}})
        <button [routerLink]="['/admin','loan','plist']">reset filter</button>
      </h3>
      <h3 *ngIf="id_user>0">Filtered by user ({{id_user}} - {{oUser?.name}} {{oUser?.surname}})
        <button [routerLink]="['/admin','loan','plist']">reset filter</button>
      </h3>

      <h3 *ngIf="!(id_user>0)&&!(id_book>0)">No active filter</h3>

      <h3>Showing {{oPage?.numberOfElements}} of total {{oPage?.totalElements}} replies</h3>
   
    </div>

  
  
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg ">
      <table class="w-full text-center text-sm text-left rtl:text-right font-medium  bg-slate-700  rounded-lg">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3" (click)="doOrder('id')">ID</th>
            <th scope="col" class="px-6 py-3" (click)="doOrder('book')">book</th>
            <th scope="col" class="px-6 py-3" (click)="doOrder('user')">User</th>          
            <th scope="col" class="px-6 py-3" (click)="doOrder('loanDate')">Loan Date</th>
            <th scope="col" class="px-6 py-3" (click)="doOrder('dueDate')">Due Date</th>
            <th scope="col" class="px-6 py-3" (click)="doOrder('returnDate')">Return Date</th>
            <th scope="col" class="px-6 py-3">Options</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let l of oPage?.content" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600" >
            <!-- ID -->
            <td scope="row" class="px-6 py-4 font-medium text-white whitespace-nowrap dark:text-white">{{l.id}}</td>
            <!-- book -->
            <td class="px-6 py-4 text-white">
              <a [routerLink]="['/admin','loan','plist','bybook',l.book.id]">({{l.book.id}})
                {{l.book.title}}
              </a>
            </td >
            <!-- user -->
            <td class="px-6 py-4 text-white" *ngIf="l.user != null">
              <a [routerLink]="['/admin','loan','plist','byuser',l.user.id]">({{l.user.id}}) {{l.user.name}}
              </a>
            </td>
            <td class="px-6 py-4 text-white" *ngIf="l.user == null">
              Available
            </td>
            <!-- loanDate -->
            <td class="px-6 py-4 text-white" pTooltip="{{l.creationDate}}">{{l.creationDate | date:'dd/MM/yyyy'}}</td>
            <!-- dueDate -->  
            <td class="px-6 py-4 text-white" pTooltip="{{l.dueDate}}" >{{l.dueDate | date:'dd/MM/yyyy'}}</td>
            <!-- returnDate -->
            <td class="px-6 py-4 text-white" pTooltip="{{l.returnDate}}" >
            <span *ngIf="l.returnDate != null">
              {{l.returnDate | date:'dd/MM/yyyy'}}
            </span>
            <span *ngIf="l.returnDate == null" class="text-red-600 font-bold">
              Not returned
            </span>
            </td>
            <!-- options -->
            <td class="inline-flex px-4 py-3 gap-2 text-white" role="group">
                <button class="bg-blue-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"  [routerLink]="['/admin','loan','view',l.id]"><mat-icon>remove_red_eye</mat-icon></button>
                <button class="bg-green-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"  (click)="doView(l)"><mat-icon>assignment_ind</mat-icon></button>
                <button class="bg-yellow-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"  [routerLink]="['/admin','loan','edit',l.id]"><mat-icon>edit</mat-icon></button>
                <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" (click)="doRemove(l)" *ngIf="l.returnDate!=null"><mat-icon>delete_forever</mat-icon></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <p-paginator (onPageChange)="onPageChang($event)" [first]="oPaginatorState.first!" [rows]="oPaginatorState.rows!"
        [totalRecords]="oPage?.totalElements || 0" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
    </div>
  </div>
  
  
  <p-confirmDialog #cd [style]="{ width: '30vw' }">
    <ng-template pTemplate="header">
      <h5 class="text-2xl font-bold"><i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i> Loan Removal</h5>
    </ng-template>
    <ng-template pTemplate="message">
      <div class="container flex items-center justify-center">
        <app-admin-loan-detail-unrouted [id]="oLoanToRemove!.id"></app-admin-loan-detail-unrouted>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <p class="mb-4">Are you sure to remove the loan?</p>
      <button class="bg-blue-500 text-white px-4 py-2 rounded mr-2" pButton icon="pi pi-times" (click)="cd.reject()">No</button>
      <button class="bg-red-500 text-white px-4 py-2 rounded" pButton icon="pi pi-check" (click)="cd.accept()">Yes</button>
    </ng-template>
  </p-confirmDialog>
  