<div *ngIf="status!=null">
  <div class="d-flex justify-center my-3">
    <div class="alert alert-danger" role="alert">
      {{status!.error.message}} - {{status!.message}}
    </div>
  </div>
</div>

<!-- component -->
<div class="flex flex-col flex-wrap -mx-3 mb-5 text-black">
  <div class="w-full max-w-full px-3 mb-6  mx-auto">
    <div
      class="relative flex-[1_auto] flex flex-col break-words min-w-0 bg-clip-border rounded-[.95rem] border border-dashed border-stone-200 bg-white m-5">
      <!-- card body  -->
      <div class="flex-auto block py-8 px-9">
        <div>
          <div class="mb-9">
            <h1 class="mb-2 text-[1.75rem] font-semibold text-dark">Top 5 <mat-icon>whatshot</mat-icon> Most Featured Users</h1>
            <span class="text-[1.15rem] font-medium text-muted"> Here are the users with the most loan number! </span>
          </div>
          <!-- card body  -->
          <div class="flex flex-wrap w-full  justify-evenly">
            <div class="flex flex-col mx-5 text-center mb-11 lg:mr-16" *ngFor="let u of oPage?.content">
              <div><span class="block font-medium text-muted">Loans: {{u.numberOfLoans}}</span></div>
              <div class="inline-block mb-4 relative shrink-0 rounded-[.95rem]">
                <img class="inline-block shrink-0 rounded-[.95rem] w-[150px] h-[150px]"
                  src="../../../../assets/img/userPlaceholder.png" alt="avarat image">
              </div>
              <div class="text-center">
                <a [routerLink]="['/normal','user','view',u.id]"
                  class="text-dark font-semibold hover:text-primary text-[1.25rem] transition-colors duration-200 ease-in-out">{{u.name}}
                  {{u.surname}}</a>
                <span class="block font-medium text-muted">@{{u.username}}#{{u.id}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>