<div *ngIf="status!=null">
  <div class="d-flex justify-content-center my-3">
    <div class="alert alert-danger" role="alert">
      {{status!.error.message}} - {{status!.message}}
    </div>
  </div>
</div>

<div *ngIf="status==null">
  <div class="d-flex justify-content-between">

    <input type="radio" class="btn-check btn-sm" name="options-outlined" id="success-outlined" autocomplete="off"
      (change)="onOrderChange($event)" [checked]="activeOrder">
    <label class="btn btn-outline-success" for="success-outlined">by new</label>

    <h5 class="px-2">Showing {{oPage?.numberOfElements}} of total {{oPage?.totalElements}} Books.</h5>

    <input type="radio" class="btn-check btn-sm" name="options-outlined" id="danger-outlined" autocomplete="off"
      (change)="onOrderChange($event)" [checked]="!activeOrder">
    <label class="btn btn-outline-danger" for="danger-outlined">by popular</label>

  </div>

  <div class="flex justify-content-center m-1">
    <p-paginator (onPageChange)="onPageChang($event)" [first]="oPaginatorState.first!" [rows]="oPaginatorState.rows!"
      [totalRecords]="oPage?.totalElements || 0" [rowsPerPageOptions]="" [showPageLinks]="false"></p-paginator>
  </div>

  <div class=" d-flex">
    <ul class="list-group">

      <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let b of oPage?.content"
        (click)="doShowLoans(b)" [ngClass]="{active: b.id==activeBook?.id}">

        <div class="ms-2 me-auto">
          <a href="">{{b.title}}</a>
        </div>
        <div class="ms-1">
          <span class="badge bg-light">
            <span class="badge text-bg-warning"
              *ngIf="b.ownerUser.username==oSessionService.getUsername()">{{b.ownerUser.username}}</span>
            <span class="badge text-bg-info"
              *ngIf="b.ownerUser.username!=oSessionService.getUsername()">{{b.ownerUser.username}}</span>
            <span class="badge bg-secondary rounded-pill">{{b.loans}}</span>
          </span>
        </div>
      </li>
    </ul>

  </div>
</div>