<div *ngIf="status!=null">
    <div class="d-flex justify-content-center my-3">
        <div class="alert alert-danger" role="alert">
            {{status!.error.message}} - {{status!.message}}
        </div>
    </div>
</div>

<div *ngIf="status==null">
    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th>name</th>
                <td>{{oUser.name}} {{oUser.surname}} {{oUser.lastname}}</td>
            </tr>
            <tr>
                <th>email</th>
                <td>{{oUser.email}}</td>
            </tr>
            <tr>
                <th>username</th>
                <td>{{oUser.username}}</td>
            </tr>
            <tr>
                <th>role</th>
                <td>
                    <span *ngIf="oUser.role==true">Admin</span>
                    <span *ngIf="oUser.role==false">User</span>
                </td>
            </tr>
            <tr>
                <th>books</th>
                <td>
                    <span *ngIf="oUser.books>0">{{oUser.books}}</span>
                    <span *ngIf="oUser.books==0">0</span>
                </td>
            </tr>
            <tr>
                <th>loans</th>
                <td>
                    <span *ngIf="oUser.loans>0">{{oUser.loans}}</span>
                    <span *ngIf="oUser.loans==0">0</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>