<!-- FORMULARIO LOGIN-->
<div class="flex justify-center mt-5">
  <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <p class="form-title">Sign in to your account</p>
    <div class="input-container">
      <span>
        <svg stroke="currentColor" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"
            stroke-width="2" stroke-linejoin="round" stroke-linecap="round"></path>
        </svg>
      </span>
      <input placeholder="Username" type="text" formControlName="username" class="text-black">


    </div>
    <p *ngIf="loginForm.get('username')?.hasError('required') && loginForm.get('username')?.touched" class="mt-2 text-sm text-red-600 dark:text-red-500">
      Username required!</p>
    <div class="input-container">
      <span>
        <svg viewBox="0 0 16 16" fill="currentColor" height="16" width="16" xmlns="http://www.w3.org/2000/svg"
          class="input-icon">
          <path
            d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z">
          </path>
        </svg>
      </span>

      <input placeholder="Password" type="password" formControlName="password" class="text-black">
    </div>
    <p *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched"
    class="mt-2 text-sm text-red-600 dark:text-red-500">
   Password is required
 </p>
 <p *ngIf="loginForm.get('password')?.hasError('minlength') && loginForm.get('password')?.touched"
    class="mt-2 text-sm text-red-600 dark:text-red-500">
   Password must be at least 6 characters length
 </p>

    <button class="submit" type="submit">
      Login
    </button>

    <button class="submit" type="reset" (click)="onReset()">Reset</button>

    <p class="text-center">Log in as</p>
    <span class="flex justify-center gap-5">
      <button class="logInAs" (click)="loginAdmin()">Admin</button>
      <button class="logInAs" (click)="loginUser()">User</button>
    </span>


    <p class="signup-link">
      No account?
      <a href="">Sign up</a>
    </p>
  </form>
</div>