<div *ngIf="status!=null">
    <div class="d-flex justify-content-center my-3">
      <div class="alert alert-danger" role="alert">
        {{status!.error.message}} - {{status!.message}}
      </div>
    </div>
  </div>
  
  <div *ngIf="status == null">
    <div class="relative overflow-auto rounded-xl">
      <div class="flex justify-between mb-3">
        <h3 class="text-xl">No active filter</h3>
        <h3 class="text-xl">Showing {{ oPage?.numberOfElements }} of total {{ oPage?.totalElements }} books.</h3>
      </div>
  
      <div class="relative overflow-x-auto shadow-md sm:rounded-lg ">
        <table class=" text-center w-full text-sm text-left rtl:text-right font-medium  bg-slate-700  rounded-lg">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th class="px-6 py-3" (click)="doOrder('id')">ID</th>
              <th class="px-6 py-3" (click)="doOrder('title')">Title</th>
              <th class="px-6 py-3" (click)="doOrder('author')">Author</th>
              <th class="px-6 py-3" (click)="doOrder('category')">Category</th>
              <th class="px-6 py-3" (click)="doOrder('available')">Available</th>
              <th class="px-6 py-3" (click)="doOrder('ownerUser')">Owner User</th>
              <th class="px-6 py-3">Number of loans</th>
            </tr>
          </thead>
  
          <tbody>
            <tr *ngFor="let b of oPage?.content"
              class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
              <!--ID -->
              <td class="px-4 pt-3font-medium  dark:text-white whitespace-nowrap dark:text-white">{{b.id}}</td>
              <!--Title -->
              <td class="px-4 pt-3 dark:text-white">{{b.title}}</td>
              <!--Author -->
              <td class="px-4 pt-3 dark:text-white">{{b.author}}</td>
              <!--Category -->
              <td class="px-4 pt-3 dark:text-white">{{b.category}}</td>
              <!--Avalaible -->
              <td class="px-4 pt-3 dark:text-white">
                <span *ngIf="b.available" class="text-green-600">AVAILABLE</span>
                <span *ngIf="!b.available" class="text-red-600">LOANED</span>
              </td>
              <!--Owner User -->
              <td class="px-4 pt-3 dark:text-white">
                <a *ngIf="b.ownerUser != null"
                  [routerLink]="['/admin','book','plist','byuser',b.ownerUser.id]">({{b.ownerUser.id}})
                  {{b.ownerUser.username}} </a>
              </td>
              <!--Number of loans -->
              <td class="px-4 pt-3  dark:text-white text-center  underline">
                <a [routerLink]="['/admin','reply','plist','bybook',b.id]" *ngIf="b.loans>0">{{b.loans}}</a>
                <span *ngIf="b.loans==0" class="dark:text-white ">0</span>
              </td>
              <!--Options -->
              <td class="text-center">
                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                  <button class="btn btn-primary" (click)="onSelectBook(b)"><mat-icon>add_circle</mat-icon></button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
      </div>
    </div>
  
    <p-paginator (onPageChange)="onPageChang($event)" [first]="oPaginatorState.first!" [rows]="oPaginatorState.rows!"
      [totalRecords]="oPage?.totalElements || 0" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>