<div *ngIf="status !== null">
    <div class="d-flex justify-content-center my-3">
        <div class="alert alert-danger" role="alert">
            {{status!.error.message}} - {{status!.message}}
        </div>
    </div>
</div>

<div *ngIf="status === null">
    <div class="col-12">
        <div class="d-flex justify-content-center my-3">
            <form [formGroup]="LoanForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <mat-form-field>
                        <mat-label>Título:</mat-label>
                        <input matInput formControlName="title" placeholder="Título" required>
                        <mat-hint align="end">(3 to 255 characters long)</mat-hint>
                        <mat-error *ngIf="hasError('title', 'required')">Title is required</mat-error>
                        <mat-error *ngIf="hasError('title', 'minlength')">Must be longer</mat-error>
                        <mat-error *ngIf="hasError('title', 'maxlength')">Exceeds characters limit</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field [style.width.px]=500>
                        <mat-label>Cuerpo:</mat-label>
                        <textarea matInput formControlName="body" placeholder="Cuerpo" required></textarea>
                        <mat-hint align="end">(Max. 1000 characters)</mat-hint>
                        <mat-error *ngIf="hasError('body', 'required')">Body is required</mat-error>
                        <mat-error *ngIf="hasError('body', 'maxlength')">Exceeds characters limit</mat-error>
                    </mat-form-field>
                </div>




                <div class="row mb-3">
                    <label for="creation" class="col-sm-2 col-form-label"> Creation datetime:</label>
                    <div class="col-sm-10">
                        <p-calendar formControlName="creation" [locale]="es" dateFormat="dd/mm/yy" inputId="spanish"
                            [showIcon]="true" [showTime]="true" [showSeconds]="true"></p-calendar>
                        <div *ngIf="hasError('creation', 'required')" class="text-danger"> You must
                            set a valid date
                        </div>
                    </div>
                </div>




                <div formGroupName="user">
                    <div class="form-group">
                        <mat-form-field [style.width.px]=100>
                            <mat-label>USER:</mat-label>
                            <input matInput formControlName="id" placeholder="USER" required readonly>
                        </mat-form-field>
                        <button class="btn btn-primary" type="button" (click)="onShowUsersSelection()"> <i
                                class="pi pi-search"></i>
                            Find a user</button>
                        {{oLoan.user.name}} {{oLoan.user.surname}}
                    </div>
                </div>
                <div formGroupName="Book">
                    <div class="form-group">

                        <input matInput formControlName="id" placeholder="Book" required readonly>
                
                        <button class="btn btn-primary" type="button" (click)="onShowBooksSelection()"> <i
                                class="pi pi-search"></i>
                            Find a Book</button>
                        {{oLoan.book.title}}
                    </div>
                </div>

                <div class="text-center mt-5">
                    <button mat-raised-button color="primary" type="submit" [disabled]="!LoanForm.valid">Save
                        Loan</button>
                </div>
            </form>
        </div>
    </div>
</div>