@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    margin: 0 auto;
    background-color: #111827;
    color: white;
}

a {
    text-decoration: none;
    font-size: larger;
}

a:hover {
    color: red;
}

