@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    color: black;
}

body {
    margin: 0 auto;
}

a {
    text-decoration: none;
    font-size: larger;
}

a:hover {
    color: red;
}
