<div *ngIf="status!=null">
    <div class="d-flex justify-content-center my-3">
        <div class="alert alert-danger" role="alert">
            {{status!.error.message}} - {{status!.message}}
        </div>
    </div>
</div>

<div class="bg-slate-700 flex justify-center items-center">
    <div class="card flex flex-col w-full max-w-sm ">
    
        <div class="flex">
            <div class="mx-2">
                <img class="w-24 h-24 mb-3 rounded-full shadow-lg"
                    src="https://bulma.io/images/placeholders/128x128.png" alt="User image" />
            </div>

            <div class="flex flex-col">
                <span class="text-gray-900 dark:text-white">[{{oUser.id}}]
                    {{oUser.name}}&nbsp;{{oUser.surname}}
                </span>
                <span class="text-sm text-white">
                    Role:
                    <span *ngIf="oUser.role == false" class="text-red-500">
                        Admin
                    </span>

                    <span *ngIf="oUser.role == true" class="text-blue-500">
                        User
                    </span>
                </span>

                <a [routerLink]="['/admin','book','plist','byuser',oUser.id]" *ngIf="oUser.numberOfBooks > 0"
                    class="text-blue-500">
                    See Books: {{oUser.numberOfBooks}}
                </a>

                <span *ngIf="oUser.numberOfBooks == 0" class="text-white">See Books: 0</span>

                <a [routerLink]="['/admin','loan','plist','byuser',oUser.id]" *ngIf="oUser.numberOfLoans > 0"
                    class="text-blue-500">
                    See Loans: {{oUser.numberOfLoans}}
                </a>
                <span *ngIf="oUser.numberOfLoans == 0" class="text-gray-500">See Loans: 0</span>
            </div>
        </div>

        <div class="flex flex-col ms-5">
            <span class="text-sm dark:text-white">@{{oUser.username}}</span>
            <span class="text-sm dark:text-white">{{oUser.email}}</span>
        </div>


    </div>
</div>